/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-container .ngx-toastr {
    box-shadow: 0 0 12px #3a3a3a;
}

.toast-error {
    position: relative;
}

.CodeMirror {
    height: 100%;
    width: 100%;
}

.cm-s-dracula.CodeMirror {
    background-color: #252327 !important;
  }

.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
    background-color: #252327 !important;
}

.cm-s-ayu-mirage.CodeMirror {
    background-color: #252327 !important;
  }

.cm-s-ayu-mirage.CodeMirror, .cm-s-ayu-mirage .CodeMirror-gutters {
    background-color: #252327 !important;
}

.CodeMirror-activeline-background {
    background-color: #18161a !important;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background-color: #18161a !important;
}

.CodeMirror:not(.CodeMirror-focused) .CodeMirror-activeline-background {
    background-color: #18161a !important;
}

@media (max-width: 768px) {
  .cm-s-dracula.CodeMirror {
    background-color: #18161a !important;
  }

.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
    background-color: #18161a !important;
}

.cm-s-ayu-mirage.CodeMirror {
    background-color: #18161a !important;
  }

.cm-s-ayu-mirage.CodeMirror, .cm-s-ayu-mirage .CodeMirror-gutters {
    background-color: #18161a !important;
}

.CodeMirror-activeline-background {
    background-color: #252327 !important;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background-color: #252327 !important;
}

.CodeMirror:not(.CodeMirror-focused) .CodeMirror-activeline-background {
    background-color: #252327 !important;
}
}
